<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logFileDir" source="logging.rolling-file.folder"
                    defaultValue="/var/log/containers"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileDir}/graph-people-search.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFileDir}/graph-people-search.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>3</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>
    <logger name="org.alwayslearning.graphpeoplesearch">
        <level value="DEBUG"/>
    </logger>

    <root level="info">
        <appender-ref ref="FILE"/>
        <!-- Use for local debugging only  -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
